

body {
	background-color: lightblue;
}

h1 {
	margin: 12rem 0;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 4rem;
	z-index: 3;
}


.headshot {
	position: fixed;
	top: 0;
	height: 100vh;
	opacity: .8;
	z-index: 6;
}