


.content-box {
	position: absolute;
	margin-top: 18rem;
	z-index: 2;

}

.content-storage {
	display: none;
}

.content__experience {
	margin-top: 12rem;
	margin-left: 50vw;
	transform: translateX(-50%);
	max-width: 750px;

	line-height: 1.8rem;
}

.content__experience__list {
	/*list-style: none;*/
}

.content__contact {
	margin-top: 18rem;
	margin-left: 50vw;
	padding: 2rem;
	transform: translateX(-50%);
	max-width: 750px;

	line-height: 1.8rem;
	border: 1px solid navy;
}