


nav {}



.nav__mobile {
	position: fixed;
	top: 0;
	z-index: 10;

	transition: height .5s;
	height: 100px;
	width: 100vw;
	opacity: .85;
	/*background-color: #97a3bc;*/
	/*border-bottom: 5px solid #0f806d;*/
}


.nav__background-img {
	position: absolute;
	transition: transform .5s;
	transform: translateY(-75%);
	z-index: 0;
}

.nav__mobile__open {
	transition: all .5s;
	transform: translateY(-20%);
}


/* =========================== BEGIN HAMBURGER ======== */
	.nav__hamburger {
		margin-left: 50vw;
		transform: translateX(-50%);

		/*border: 1px solid pink;*/
	}

	.nav__hamburger__arm {
		position: absolute;
	}

	.nav__hamburger__arm {}

	.nav__hamburger-top {
		transition: all .5s;
	}

	.nav__hamburger-middle {
		transition: opacity .5s;
		opacity: 1;
	}

	.nav__hamburger-bottom {
		transition: all .5s;
	}

/* =========================== CLOSE X ======== */
	.nav__hamburger-top-x {
		transition: all .5s;
		margin-top: -16px;
		transform: rotate(225deg);
	}

	.nav__hamburger-middle-x { 
		transition: opacity .5s;
		opacity: 0;
	}

	.nav__hamburger-bottom-x {
		transition: all .5s;
		margin-top: 16px;
		transform: rotate(-225deg);
	}
/* =========================== MOBILE ICON STUFF ======== */

	.nav__links-box__mobile {
		position: relative;
		transition: transform .5s;
		transform: translateY(-50vh);
		top: 8rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 2;

		width: 100vw;

		/*border: 3px solid pink;*/
	}

	.nav__links-box__descended {
		transition: all .5s;
		transform: translateY(0vh);
	}


	.nav__link__mobile {
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 4;
	}

	.nav__link-image__mobile {
		position: relative;
		z-index: 3;
		height: 125px;
		opacity: .7;
		transition: opacity .3s;
		cursor: pointer;
	}

/* =========================== DESKTOP NAV ======== */
.nav__desktop {
	position: fixed;
	top: 0;
	z-index: 10;

	display: flex;
	justify-content: space-between;
	width: 100vw;
}

@media (max-width: 900px) {
	.nav__mobile { display: block; }
	.nav__desktop { display: none; }
}

@media (min-width: 900px) {
	.nav__mobile { display: none; }
	.nav__desktop { display: block; }
}

.nav__temp-home {
	color: white;
	font-size: 2.5rem;
	font-weight: 700;
	cursor: pointer;
	opacity: .7;
}

.nav__temp-home:hover {
	opacity: 1;
}

.nav__container {
	display: flex;
	flex-direction: row;

	/*border: 1px solid red;*/
}

.nav__home-box {
	padding: 30px;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	/*margin: 0px 20px 0 20px;*/
}

.nav__poems-box {margin: 0px 10px 0 20px;}
.nav__experience-box {margin: 35px 0px 0 10px;}
.nav__contact-box {margin: 120px 5px 0 5px;}

.nav__link-image {
	height: 125px;
	opacity: .7;
	transition: opacity .3s;
	cursor: pointer;
}

.nav__link-image:hover {
	opacity: 1;
	transition: opacity .3s;
}

.nav__link-caption {
	padding: 4px;
	letter-spacing: .3rem;
	color: white;
	background-color: #02142c;
	font-weight: 700;
	transition: margin-top .6s;
}

.nav__caption-hidden {
	margin-top: -600px;
	transition: margin-top .6s;
}

.nav__hrz-spc {
	height: 10px;
	width: 30px;
}