


.poem {
	max-width: 80vw;
	margin: 0 0 0 10rem;
	opacity: 1;
	transition: opacity .3s;
}

.poem__hidden {
	opacity: 0;
	transition: opacity .3s;
}

.poems__dropdown-box {
	position: absolute;
	top: 175px;
	min-width: 10px;
	min-height: 10px;

	/*border: 1px solid red;*/
}

.poems__dropdown-list {
	position: relative;
	z-index: 3;
	list-style: none;
}

.poems__link {
	margin: 12px 0 0 0;
	padding: 0 0 0 3rem;
	cursor: zoom-in;
}

.poems__link:hover {
	color: white;
	background-color: #02142c;
}

.poems__hidden {   /* used for links list, not full poems */
	display: none;
}