


* {
	font-family: 'IBM Plex Mono', monospace;
}

body {
	background-color: lightblue;
}

.bold-claim {
	position: absolute;
	top: 12rem;
	left: 10vw;
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
	font-size: 6rem;
	z-index: 1;
	transition: all .6s;
	letter-spacing: -.5rem;
}

.move-aside {
	transform: rotate(90deg);
	top: 32rem;
	left: -30rem;
	transition: all .6s;
}


.headshot {
	position: fixed;
	top: 0;
	height: 100vh;
	opacity: .8;
	transition: opacity .3s;
	z-index: 2;
}

.headshot-hiddenish {
	opacity: .0125;
	transition: opacity .3s;
}

footer {
	position: absolute;
	bottom: 0;
}

.styles__mark-circle {
	position: absolute;	
	bottom: 32px;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 50vw;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	z-index: 15;
	border-radius: 25px;
}

.styles__mark-circle:hover {
	background-color: white;
}

.styles__sqglz-logo {
	transform: translateY(20%);
	height: 32px;
	z-index: 16;
}