


* {
	font-family: 'IBM Plex Mono', monospace;
}

body {
	background-color: lightblue;
}

h2 {
	font-size: 2.6rem;
}

h6 {
	font-size: 1.6rem;
	font-weight: 100;
	margin-top: -1rem;
}

.bold-claim {
	position: absolute;
	top: 12rem;
	left: 10vw;
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
	font-size: 6rem;
	z-index: 1;
	transition: all .6s;
	letter-spacing: -.5rem;
}

.move-aside {
	transform: rotate(90deg);
	top: 32rem;
	left: -30rem;
	transition: all .6s;
}


.headshot {
	position: fixed;
	top: 0;
	height: 100vh;
	opacity: .8;
	transition: opacity 1s;
	z-index: 2;
}

.headshot-hiddenish {
	opacity: .0125;
	transition: opacity 1s;
}

footer {
	position: absolute;
	bottom: 0;
}

.styles__mark-circle {
	position: fixed;	
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 50vw;
	padding: 0 0 0 3px;
	transform: translateX(-50%);
	width: 36px;
	height: 36px;
	z-index: 15;
	border-radius: 18px;
}

.styles__mark-circle:hover {
	background-color: white;
}

.styles__sqglz-logo {
	transform: translateY(15%);
	height: 30px;
	z-index: 16;
}